<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
成功
<div th:name="${hello}" th:class="${hello}" th:text="${hello}">
</div>
<div th:text="${hello}"/>
<div th:utext="${hello}"/>

<h4>
    <span th:each="user:${users}">[[${user}]]</span>
</h4>

<h3 th:text="#{success.tip}"></h3>

<form>
    <a th:href="@{/success(l='zh_CN')}">中文</a>
    <a th:href="@{/success(l='en_US')}">English</a>
</form>

</body>
</html>