<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
成功
<div th:name="${hello}" th:class="${hello}" th:text="${hello}">
</div>
<div th:text="${hello}"/>
<div th:utext="${hello}"/>

<h4>
    <span th:each="user:${users}">[[${user}]]</span>
</h4>

<h3 th:text="#{success.tip}"></h3>

<form th:action="@{/content}" method="post">
    userName:<input th:name="userName"/>
    <br/>
    password:<input th:name="password"/>
    <br/>
    <button th:name="login" type="submit">登录</button>
    <br/>
    <a th:href="@{/success(l='zh_CN')}">中文</a>
    <a th:href="@{/success(l='en_US')}">English</a>
    <br/>
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
</form>

</body>
</html>